.heading_main_container {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.sub_heading_wrap {
  margin-bottom: 30px;
}

.card {
  width: 100%;
  padding: 1rem;
}

.order_field {
  // width: 25ch;
  // margin: 0 0.5rem 0.5rem 0;
}

.name_field {}

.phone_field {}

.email_field {
  // width: 50ch;
}
