.wrapper {
  height: 60vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.seat_dialog_row_wrapp {
  justify-content: center;
}

.seat_side_row {
  display: flex;
  justify-content: space-around;
}

.seat_modal_footer {
  width: 100%;
}

.seat_modal_footer__desktop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin: .5rem;
}

.mobileButton {
  font-size: 1em;
}

.soldButton {
  color: #ff4d4f;
}

.bookedButton {
  color: #434343;
}
