@import '../../styles/_variables.scss';
@import '../../styles/mixins/Common.scss';

.collapse_alert {}

.container {
  padding: 10px 0;
  background: $blue_color;
}

.lightColors {
  color: #fff;
}

.darkColors {
  color: #424242;
}

.logo_wrap {
  background: #ffffff;
  //border: 1px solid $blue_color;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 8px 10px;
}

//.heading {
//  font-weight: 500;
//  color: black;
//  font-family: fantasy;
//  color: $blue_color;
//}

.pointer {
  @include pointer;
}

.rightToolbar {
  margin-left: auto;
  display: flex;
  align-items: center;
}
