@import '../../styles/mixins/Common.scss';

.collapse_alert {}

.container {
  padding: 10px 0;
}

.lightColors {
  color: #fff;
}

.darkColors {
  color: #424242;
}

.heading {
  font-weight: 500;
}

.pointer {
  @include pointer;
}

.rightToolbar {
  margin-left: auto;
  display: flex;
  align-items: center;
}
