@import '../../styles/variables';
@import '../../styles/mixins/PriceBlock';

.ticket {
  position: relative;
  margin-bottom: 20px;
}

.root {}

.wrapper {
  display: flex;
  font-size: 12px;
  color: rgb(255, 255, 255);
  transform: translate(0px, 8px);
}

.badge {
  &.badge_type1 {
    background-color: $blue_color;
    padding: 3px 6px 10px;
    margin-right: 6px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &.badge_type2 {
    background-color: $error_color;
  }
  &.badge_type3 {
    background-color: $success_color;
    padding: 3px 6px 10px;
    margin-right: 6px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &.bg_success {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1000;
  }
}

.preview {
  position: relative;
  touch-action: manipulation;
  background-color: white;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px;
  
  &.blue_border {
    border: 1px solid $blue_color;
  }
  &.success_border {
    border: 1px solid $success_color;
  }
}
.bg_success {
}
.grid {
  display: flex;
  position: relative;
}
.gridLeft {
  display: flex;
  flex: 1 1 0%;
}
.items {
  display: flex;
  padding: 12px 16px;
  width: 100%;
}
.pointItemWrapper {
}

.itemWrap {
  flex: 1 1 0%;
}
.itemWrap:first-child {
  padding-right: 20px;
}
.itemWrap:nth-child(2) {
  flex: 1.3 1 0%;
}

@media only screen and (max-width: 978px) {
  .itemWrap:first-child {
    padding-right: 10px;
    width: 250px;
    flex-basis: 250px;
    max-width: 250px;
    min-width: 250px;
  }
}
.time_start {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.time {
  display: flex;
  margin-bottom: 3px;
  font-size: 28px;
  line-height: 1;
}
.date {
  display: block;
  padding: 2px 5px 4px;
  margin-top: 2px;
  margin-left: 8px;
  font-size: 12px;
  white-space: nowrap;
  background-color: rgb(245, 245, 245);
  border-radius: 6px;
}
.dateYear {
  padding: 2px 5px 4px;
  margin-top: 2px;
  margin-left: 8px;
  font-size: 12px;
  white-space: nowrap;
  background-color: rgb(245, 245, 245);
  border-radius: 6px;
  display: none !important;
}

.timeInRoadWrapper {
  margin-right: 20px;
  font-size: 12px;
}

.timeInRoadWrapperMobile {
  display: none;
  margin-bottom: 0.7rem;
}

.timeInRoad {
  color: rgb(83, 83, 83);
  white-space: nowrap;
}
.title {
  margin-bottom: 0px;
}

.description {
  margin-bottom: 0px;
  font-size: 12px;
}
.linesEllipsis {
  white-space: pre-wrap;
}

.time_end {
  display: flex;
}
// .time{

// }
// .date{

// }
// .title{

// }
// .description{

// }
// .linesEllipsis{

// }
.gridDivider {
  width: 2px;
  min-height: 35px;
  background-color: transparent;
  background-image: url("/static/img/divider.svg");
  background-repeat: repeat-y;
  background-position: center center;
  background-size: 6px;
}
.gridRight {
  display: flex;
  flex-basis: 260px;
  -webkit-box-align: center;
  align-items: center;
  width: 260px;
  min-width: 260px;
  max-width: 260px;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
@media only screen and (max-width: 978px) {
  .gridRight {
    flex-basis: 184px;
    width: 184px;
    max-width: 184px;
    min-width: 184px;
    -webkit-box-pack: center;
    justify-content: center;
  }
}
.priceWrapper {
  @include price_wrapper;
}
@media only screen and (max-width: 978px) {
  .priceWrapper {
    flex-direction: column;
    padding: 16px 0px 26px;
  }
}
.priceContainer {
  @include price_container;
}
@media only screen and (max-width: 978px) {
  .priceContainer {
    margin-bottom: 5px;
  }
}

.price {
  @include price;
}

.priceContainer .price {
  @include price_in_price_container;
}

.priceContainer .currency {
  @include currency_in_price_container;
}

.text_nowrap {
  @include text_nowrap;
}

.buttonWrapper {
  @include button_wrapp;
}

@media only screen and (max-width: 978px) {
  .buttonWrapper {
    margin-left: 0px;
  }
}

.btn__submit {
  @include button;

  &.ticket_bought {
    background-color: $success_color;
  }
  &.ticket_bought:hover {
    background-color: $error_color;
  }
  &.cancel_color {
    background-color: $error_color;
  }
}

.btn__submit_mobile {
  display: none;
}

.buttonWrapper .btn__submit {
  font-size: inherit;
}

// footer
.gridFooter {
  position: relative;
  min-height: 35px;
  font-size: 12px;
  background-color: rgb(246, 245, 245);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.grid {
  -webkit-box-align: center;
  align-items: center;
  padding-left: 15px;
}
.gridLeft {
  flex: 1 1 0%;
}

.gridLeft .flex {
  max-width: 630px;
  display: flex;
}
@media only screen and (max-width: 978px) {
  .gridLeft .flex {
    max-width: 448px;
  }
}

.toggle {
  width: 109px;
  white-space: nowrap;
  cursor: pointer;

  &.blue_color {
    color: $blue_color;
  }
  &.success_color {
    color: $success_color;
  }
}

.toggleWrapp {
  display: flex;
  align-items: center;
}

.information {
  display: flex;
  align-items: center;
  flex: 1 1 0%;
  padding: 0px 30px;
  overflow: hidden;
  white-space: nowrap;
}
.carrier {
  width: 60%;
}
.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.carrierTitle {
  color: rgb(83, 83, 83);
}
.busModel {
  width: 40%;
}

.busModelTitle {
  color: rgb(83, 83, 83);
}

.gridDivider8 {
  width: 2px;
  min-height: 35px;
  background-color: transparent;
  background-image: url("/static/img/divider.svg");
  background-repeat: repeat-y;
  background-position: center center;
  background-size: 6px;
}

.gridRight9 {
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 8px;
}

@media only screen and (max-width: 667px) {
  // main part
  .gridBody {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    .gridDivider,
    .gridRight {
      display: none;
    }

    .gridLeft {
      display: block;
      .timeInRoadWrapperMobile {
        display: block;
      }
      .items {
        padding: 0;
        .timeInRoadWrapper {
          display: none;
        }
        .itemWrap {
          width: 50%;
          min-width: 50%;
          max-width: 50%;
        }
      }
      .time {
        font-size: 24px;
      }
      .title {
        display: none;
      }
    }
  }

  // footer
  .gridFooter {
    background-color: rgba(0, 0, 0, 0);
    .grid {
      display: flex;
      justify-content: flex-end;

      .gridLeft,
      .gridDivider8 {
        display: none;
      }

      .gridRight9 {
        padding: 0;
        width: 50%;

        .btn__submit.btn__submit_mobile {
          display: block;
          width: 100%;
          border-radius: 4px 0 0;
        }
      }
    }
  }
}
