@import "./../../styles/variables";

.date_picker__container {
  background-color: #fff;
  width: 100%;
}

.date_picker__input {}

.date_picker__input.last_el {
  border-radius: 0 $common_br $common_br 0;
}

.MuiFormControl-root.date_picker__container {
  margin: 0.5rem;

  .MuiSelect-icon {
    color: #fff;
  }
}

// data picker input
.date_input_wrap {
  border-radius: 0 $common_br $common_br 0;
  input {
    padding-left: 0.8rem;
  }
}


@media only screen and (max-width: 575px) {
  .MuiFormControl-root.date_picker__container {
    width: 100%;
  }
}
