.searchField {
  label {
    margin-top: 10px;
  }
}
.search_tickets__container {
  // background-image: url("/assets/images/backgrounds/bg-winter-mobile.jpg");
}
.welcome_block {
  padding: 64px 0px;
}
.search_tickets {}
.search_tickets_on_search_page {
  margin-top: 7rem;
}
.search_field {
  .MuiInputBase-root {
    border-radius: 0 4px 4px 0;
  }
}
.search_btn_container {
  height: 100%;
}
.search_btn {
  height: 100%;
}
.returnBackCheckbox {

}
.customFormControlClass {
  .MuiFormControlLabel-label {
    color: #fff;
  }
}
// return trip
.search_tickets.return_trip {
  padding: 0px 0px;
}
.search_tickets.return_trip {
  display: none;
}
.search_tickets.return_trip.activate {
  display: block;
}
.MuiInputBase-input {
  color: white !important;
}
@media only screen and (max-width: 575px) {
  .search_btn {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .returnBackCheckboxWrap {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
}
