@import './variables';
// SCROLLBAR
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue_color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $blue_color;
}
